<div class="user-details">
    <h1>The Mage of Spades</h1>
    <div class="grid-container">
        <div class="grid-item-left">
            <img src="images/big_professional_developer_m2.png" alt="Magento 2 Certified Professional Developer"/>
            <img src="images/big_developer.png" alt="Magento 1 Certified Developer"/>
<!--            <img src="images/headshot.png" alt="Magento 1 Certified Developer"/>-->
        </div>
        <div class="grid-item-right">
            <p>My name is <strong>Jason Blount</strong>. Since writing my first app in 1998 I've always had a passion for
                creating the best possible code. I've spent years working in leadership positions in some of the top
                Magento agencies, as well as working directly with clients as a consultant and certified developer. Get
                in touch and let's build something amazing together!</p>
        </div>
    </div>
</div>
<div class="user">
    <div class="tech">
        <h2>Development</h2>
                <i class="devicon-php-plain colored"></i>
                <i class="devicon-linux-plain colored"></i>
                <i class="devicon-javascript-plain colored"></i>
        <p>As a 2x certified developer I can handle anything from maintenance and patches to full builds and
            integrations, alone or as part of your team.</p>
    </div>
    <div class="tech">
        <h2>Consulting</h2>
                <i class="fab fa-magento"></i>
                <i class="fa fa-chalkboard-teacher"></i>
                <i class="fa fa-pen"></i>
        <p>I will work with you to review your business processes, find your pain points, then create a plan of action
            and execute it.</p>
    </div>

    <div class="tech">
        <h2>Leadership</h2>
                <i class="devicon-git-plain colored"></i>
                <i class="devicon-slack-plain colored"></i>
                <i class="devicon-bitbucket-plain colored"></i>
        <p>Already have developers but lack an architect or team lead? Maybe you just need someone to help with code
            reviews. Either way I'll lead your team to success.</p>
    </div>
</div>
