<div class="user-details">
    <h1>The Mage of Spades</h1>
    <div class="grid-container">
        <div class="grid-item-left">
            <img src="images/big_professional_developer_m2.png" alt="Magento 2 Certified Professional Developer"/>
            <img src="images/big_developer.png" alt="Magento 1 Certified Developer"/>
        </div>
        <div class="item-left-align column-span row-span">
            <p>My name is <strong>Jason Blount</strong>. I started writing code as a hobby in 1998, and have been working full time with
                Magento since early 2014. I've been fortunate enough to turn something I love into a profession, and
                have a never-ending drive for continual self improvement. Writing good, clean, functional code is half
                science, half art, and I take just as much pride in creating something amazing myself or working with a
                team to really make something incredible.</p>
        </div>

    </div>
</div>
<div class="user grid-container">
    <div class="skill">
        <h2>Development</h2>
        <!--        <img src="images/big_professional_developer_m2.png" alt="Magento 2 Certified Professional Developer"/>-->
        <!--        <img src="images/big_developer.png" alt="Magento 1 Certified Developer"/>-->
        <p>As a 2x certified developer I can handle anything from maintenance and patches to full builds and
            integrations, alone or as part of your team.</p>
    </div>
    <div class="skill">
        <h2>Consulting</h2>
        <!--        <i class="fab fa-magento"></i>-->
        <!--        <i class="fa fa-chalkboard-teacher"></i>-->
        <p>I will work with you to review your business processes, find your pain points, then create a plan of action
            and execute it.</p>
    </div>
    <div class="skill">
        <h2>Leadership</h2>
        <!--        <i class="devicon-git-plain colored"></i>-->
        <!--        <i class="devicon-slack-plain colored"></i>-->
        <p>Already have developers but lack an architect or team lead? Maybe you just need someone to help with code
            reviews. Either way I'll lead your team to success.</p>
    </div>
</div>
