<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title, description, author -->
  {%- capture _page_title -%}
    {%- if page.title -%}{{- page.title | append: ' | ' -}}{%- endif -%}
    {{- site.title | default: "Untitled Website" -}}
  {%- if site.subtitle -%}{{- site.subtitle | prepend: ' - ' -}}{%- endif -%}
  {%- endcapture -%}
  {%- assign _page_title = _page_title | escape -%}
  {%- assign _page_description = page.description | default: site.description | default: _page_title | escape -%}

  <title>{{- _page_title -}}</title>
  <meta name="description" content="{{- _page_description -}}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <script src="https://kit.fontawesome.com/0383e45b3a.js" crossorigin="anonymous"></script>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{{- site.favicon | absolute_url -}}">

  <!-- Open Graph -->
  <meta property="og:title" content="{{- _page_title -}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{- site.favicon | absolute_url -}}" />
  <meta property="og:url" content="{{- page.url | absolute_url -}}" />
  <meta property="og:site_name" content="{{- site.title | escape -}}" />
  <meta property="og:description" content="{{- _page_description -}}" />
  <meta property="og:see_also" content="{{- site.linkedin_url -}}">
</head>
