<div class="user-details">
    <h1>Featured Projects</h1>
</div>
<div class="grid-container">
    <div class="item-left-align column-span">
        <h3>Admin Multiship Module</h3>
        <ul>
            <li>Type: Backend Extension</li>
            <li>Platform: Magento 2</li>
            <li>Role: Solo Project</li>
        </ul>
        <p>An extension built for the Magento Marketplace adding multi address order creation to the admin panel. Built
            with extensibility and payment method agnosticism.</p>
        <a class="project-link" href="#">Case Study</a>
    </div>
    <div class="">
        <img alt="Admin Multiship" src="images/multiship_logo.png"/>
    </div>
</div>
<div class="spacer"></div>
<div class="grid-container">
  <div class="">
    <img alt="Graeters" src="images/Selection_332.png"/>
  </div>
  <div class="item-left-align column-span">
    <h3>Graeters</h3>
    <ul>
      <li>Type: Full Site Rebuild</li>
      <li>Platform: M1 to M2 Migration</li>
      <li>Role: Technical Lead</li>
    </ul>
    <p>A full rebuild of an existing Magento 1 install for Magento 2. Included full data migration and extensive
      custom feature rewriting.</p>
    <a class="project-link" href="#">Case Study</a>
  </div>
</div>
<div class="spacer"></div>
<div class="grid-container">
    <div class="item-left-align column-span">
        <h3>Luxury Bazaar</h3>
        <ul>
            <li>Type: Data Restructure</li>
            <li>Platform: Magento 1</li>
            <li>Role: Architect & Lead Developer</li>
        </ul>
        <p>A code audit which lead to a full data restructure and code optimization, vastly improving performance and
            usability.</p>
        <a class="project-link" href="#">Case Study</a>
    </div>
  <div class="">
    <img alt="Luxury Bazaar" src="images/Selection_330.png"/>
  </div>
</div>
