{%- assign _projects = site.projects | sort: 'order' -%}
<div class="user-details">
    <h1>Featured Projects</h1>
</div>
<!-- Projects List -->
{%- for _project in _projects -%}
    {%- capture _title -%}
        <h3>{{- _project.title -}}</h3>
    {%- endcapture -%}
    {%- capture _logo -%}
        {%- if _project.logo != "" -%}
            <a href="{{- _project.url | absolute_url -}}"><img src="{{- _project.logo | relative_url -}}" alt="{{- _project.title -}}"/></a>
        {%- endif -%}
    {%- endcapture -%}
    {%- capture _excerpt -%}<p>{{- _project.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
    {%- capture _link -%}<a href="{{- _project.url | absolute_url -}}" class="project-link">Case Study</a>{%- endcapture -%}
    {%- capture _type -%}<li>Type:&nbsp;{{- _project.type -}}</li>{%- endcapture -%}
    {%- capture _platform -%}<li>Platform:&nbsp;{{- _project.platform -}}</li>{%- endcapture -%}
    {%- capture _role -%}<li>Role:&nbsp;{{- _project.role -}}</li>{%- endcapture -%}
    {%- assign _content = _excerpt | append: _link -%}

    <div class="grid-container">
        <div class="project-image mobile-wide">
            {{- _logo -}}
        </div>
        <div class="item-left-align column-span">
            {{- _title -}}
            <ul>
                {{- _type -}}
                {{- _platform -}}
                {{- _role -}}
            </ul>
            {{- _content -}}
        </div>
    </div>
{%- endfor -%}
