section {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  width: 33.33%;
}

.user {
  text-align: center;

  img {
    max-height: 120px;
  }

}

.user-details {
  text-align: center;
  margin: 5px auto;
}
