.user {
  text-align: center;
}

.user-details {
  text-align: center;
  margin: 5px auto;

  .item-left-align {
    text-align: center;
    @media (min-width: 550px) {
      text-align: left;
    }
  }
}

#about {
  img:first-of-type {
    margin-right: 10%;
  }

  img {
    max-width: 40%;
  }
}