@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
section {
    padding-top: 50px;
}
h1, h2, h3, h4, strong {
    line-height: 1.25;
    color: #333;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    margin-top: 0;
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}
.grid-container {
    display: grid;
    grid-gap: 1em;
    img {
        max-width: 100%;
        border-radius: 5px;
    }
}

.row-span {
    grid-row: span 2;
}

@media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(3, 1fr); }
}

.item-left-align {
    text-align: left;
}

.column-span {
    grid-column: span 2;
}

.spacer {
    margin-top: 20px;
}